{% load static i18n %}

<!DOCTYPE html>
{% get_current_language as LANGUAGE_CODE %}
<html lang="{{ LANGUAGE_CODE }}">
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="x-ua-compatible" content="ie=edge" />
    <title>
      {% block title %}
        Complete Business Analysis Tool
      {% endblock title %}
    </title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="description"
          content="Complete Business Analysis Tool for understanding strength and weakness of business and creating a plan for success." />
    <meta name="author" content="Grant Vickers" />
    <link rel="icon" href="{% static 'images/favicons/favicon.ico' %}" />
    {% block css %}
      <link href="{% static 'css/project.min.css' %}" rel="stylesheet" />
    {% endblock css %}
    {# Placed at the top of the document so pages load faster with defer #}
    {% block javascript %}
      <script defer src="{% static 'js/project.js' %}"></script>
    {% endblock javascript %}
    <script src="https://kit.fontawesome.com/c0dab84775.js"
            crossorigin="anonymous"></script>
  </head>
  <body class="{% block bodyclass %}{% endblock bodyclass %}">
    {% block body %}
      {% block navigation %}
        {% include "snippets/navigation.html" %}
      {% endblock navigation %}
      {% block notifications %}
        {% include "snippets/notifications.html" %}
      {% endblock notifications %}
      {% block main %}
        <main>
          {% block content %}
            <section class="section">
              <div class="container">
                <h1 class="title">Bulma Components</h1>
                <p class="has-text-primary">Use this document as a way to quickly start any new project.</p>
                <!-- Buttons & Input -->
                <div class="buttons">
                  <button class="button is-primary">Primary</button>
                  <button class="button is-link">Link</button>
                </div>
                <input class="input" type="text" placeholder="Text input" />
                <!-- Card & Notification -->
                <div class="card mt-4">
                  <div class="card-content">
                    <p class="title">Card Component</p>
                  </div>
                </div>
                <div class="notification is-info mt-4">Notification</div>
              </div>
            </section>
          {% endblock content %}
        </main>
      {% endblock main %}
    {% endblock body %}
    {% block modal %}
    {% endblock modal %}
    {% block inline_javascript %}
      {% comment %}
      Script tags with only code, no src (defer by default). To run
      with a "defer" so that you run inline code:
      <script>
        window.addEventListener('DOMContentLoaded', () => {
          /* Run whatever you want */
        });
      </script>
      {% endcomment %}
    {% endblock inline_javascript %}
  </body>
</html>
