<div class="field{% if hidden %} is-hidden{% endif %}">
  <div class="control{% if icon %} has-icons-{% if reversed %}right{% else %}left{% endif %}{% endif %}">
    {{ field }}
    {% if icon %}
      <span class="icon is-small is-{% if reversed %}right{% else %}left{% endif %}">
        <i class="fa-duotone fa-regular {{ icon }}"></i>
      </span>
    {% endif %}
  </div>
  {% if field.help_text %}
    {% if help_safe_text %}
      <p class="help">{{ field.help_text|safe }}</p>
    {% else %}
      <p class="help">{{ field.help_text }}</p>
    {% endif %}
  {% endif %}
  {% if field.errors %}
    <p class="help is-danger">
      {% for error in field.errors %}{{ error }}{% endfor %}
    </p>
  {% endif %}
  <label class="label{% if field.field.required %} required{% endif %}"
         for="{{ field.id_for_label }}">{{ field.label }}</label>
</div>
