{% load static %}

<div class="container">
  <nav class="navbar is-spaced no-print"
       role="navigation"
       aria-label="main navigation">
    <div class="navbar-brand">
      <a class="navbar-item" href="{% url 'home' %}">
        <img src="{% static 'images/cba-logo.png' %}" alt="CBA Logo" />
        <span class="has-text-weight-bold is-size-3">CBA</span>
      </a>
      <a role="button"
         class="navbar-burger"
         aria-label="menu"
         aria-expanded="false"
         data-target="navbarBasicExample">
        <span aria-hidden="true"></span>
        <span aria-hidden="true"></span>
        <span aria-hidden="true"></span>
        <span aria-hidden="true"></span>
      </a>
    </div>
    <div id="navbarBasicExample" class="navbar-menu">
      <div class="navbar-start"></div>
      <div class="navbar-end">
        <a href="{% url 'clients:list' %}" class="navbar-item">Clients</a>
        <a href="{% url 'assessments:list' %}" class="navbar-item">Assessments</a>
        {% if request.user.is_authenticated %}
          <div class="navbar-item has-dropdown is-hoverable">
            <a class="navbar-link">Profile</a>
            <div class="navbar-dropdown">
              <a href="{% url 'users:detail' request.user.pk %}" class="navbar-item">My Profile</a>
              <form action="{% url 'account_logout' %}" method="post">
                {% csrf_token %}
                <button type="submit" class="navbar-item">Sign Out</button>
              </form>
              <hr class="navbar-divider" />
              <a class="navbar-item">Report an issue</a>
            </div>
          </div>
        {% endif %}
      </div>
    </div>
  </nav>
</div>
