// Set your brand colors
$peak-primary: #00294f
$peak-danger: #b70c09
$peak-warning: #e0a800
$peak-info: #0e7c93
$peak-link: #1d6fb8
$peak-success: #1a7a4a


// Path to Bulma's sass folder
@use "bulma/sass" with (
  $family-primary: '"Nunito", sans-serif',
  // $grey-dark: $brown,
  // $grey-light: $beige-light,
  $primary: $peak-primary,
  $danger: $peak-danger,
  $warning: $peak-warning,
  $info: $peak-info,
  $link: $peak-link,
  $success: $peak-success,
  $navbar-padding-horizontal: 0px,
  // $link: $pink,
  // $control-border-width: 2px,
  // $input-shadow: none
)
