{% extends "base.html" %}

{% load i18n %}

{% block title %}
  {% block head_title %}
    {% trans "Sign In" %}
  {% endblock head_title %}
{% endblock title %}
{% block body %}
  <section class="section">
    <div class="columns is-centered">
      <div class="column is-5-tablet is-4-desktop is-3-widescreen">
        {% if messages %}
          {% for message in messages %}
            <div class="notification {% if message.tags == 'error' %}is-danger{% elif message.tags == 'success' %}is-success{% elif message.tags == 'warning' %}is-warning{% else %}is-info{% endif %} mb-4">
              <button class="delete"></button>
              {{ message }}
            </div>
          {% endfor %}
        {% endif %}
        <div class="box">
          {% block content %}
          {% endblock content %}
          {% block extra_body %}
          {% endblock extra_body %}
        </div>
      </div>
    </div>
  </section>
{% endblock body %}
