{% load widget_tweaks %}

{% for field in attrs.form %}
  {% if field.is_hidden %}
    {{ field }}
  {% else %}
    <div class="field">
      {% if field.field.widget.input_type != "checkbox" %}
        <label class="label" for="{{ field.id_for_label }}">{{ field.label }}</label>
      {% endif %}
      <div class="control">
        {% if field.field.widget.input_type == "checkbox" %}
          <label class="checkbox">
            {{ field }} {{ field.label }}
          </label>
        {% elif field.field.widget.input_type == "textarea" %}
          {% render_field field class="textarea" %}
        {% else %}
          {% render_field field class="input" %}
        {% endif %}
      </div>
      {% for error in field.errors %}
        <p class="help is-danger">{{ error }}</p>
      {% endfor %}
      {% if field.help_text %}
        <p class="help">{{ field.help_text }}</p>
      {% endif %}
    </div>
  {% endif %}
{% endfor %}
