{% load allauth %}

{% if attrs.type == "textarea" %}
  <div class="field">
    <label class="label" for="{{ attrs.id }}">{% slot label %}{% endslot %}</label>
    <div class="control">
      <textarea {% if attrs.required %}required{% endif %}
                {% if attrs.rows %}rows="{{ attrs.rows }}"{% endif %}
                {% if attrs.disabled %}disabled{% endif %}
                {% if attrs.readonly %}readonly{% endif %}
                {% if attrs.name %}name="{{ attrs.name }}"{% endif %}
                {% if attrs.id %}id="{{ attrs.id }}"{% endif %}
                {% if attrs.placeholder %}placeholder="{{ attrs.placeholder }}"{% endif %}
                class="textarea {% if slots.errors %}is-danger{% endif %}">{% slot value %}{% endslot %}</textarea>
    </div>
    {% if slots.errors %}
      <p class="help is-danger">{% slot errors %}{% endslot %}</p>
    {% endif %}
    {% if slots.help_text %}
      <p class="help">{% slot help_text %}{% endslot %}</p>
    {% endif %}
  </div>
{% elif attrs.type == "checkbox" %}
  <div class="field">
    <div class="control">
      <label class="checkbox">
        <input type="checkbox"
               {% if attrs.required %}required{% endif %}
               {% if attrs.disabled %}disabled{% endif %}
               {% if attrs.checked %}checked{% endif %}
               {% if attrs.name %}name="{{ attrs.name }}"{% endif %}
               {% if attrs.id %}id="{{ attrs.id }}"{% endif %}
               value="{{ attrs.value|default_if_none:"" }}" />
        {% slot label %}{% endslot %}
      </label>
    </div>
    {% if slots.errors %}
      <p class="help is-danger">{% slot errors %}{% endslot %}</p>
    {% endif %}
  </div>
{% elif attrs.type == "radio" %}
  <div class="field">
    <div class="control">
      <label class="radio">
        <input type="radio"
               {% if attrs.required %}required{% endif %}
               {% if attrs.disabled %}disabled{% endif %}
               {% if attrs.checked %}checked{% endif %}
               {% if attrs.name %}name="{{ attrs.name }}"{% endif %}
               {% if attrs.id %}id="{{ attrs.id }}"{% endif %}
               value="{{ attrs.value|default_if_none:"" }}" />
        {% slot label %}{% endslot %}
      </label>
    </div>
    {% if slots.errors %}
      <p class="help is-danger">{% slot errors %}{% endslot %}</p>
    {% endif %}
  </div>
{% else %}
  <div class="field">
    <label class="label" for="{{ attrs.id }}">{% slot label %}{% endslot %}</label>
    <div class="control">
      <input {% if attrs.required %}required{% endif %}
             {% if attrs.disabled %}disabled{% endif %}
             {% if attrs.readonly %}readonly{% endif %}
             {% if attrs.name %}name="{{ attrs.name }}"{% endif %}
             {% if attrs.id %}id="{{ attrs.id }}"{% endif %}
             {% if attrs.placeholder %}placeholder="{{ attrs.placeholder }}"{% endif %}
             {% if attrs.autocomplete %}autocomplete="{{ attrs.autocomplete }}"{% endif %}
             value="{{ attrs.value|default_if_none:"" }}"
             type="{{ attrs.type }}"
             class="input {% if slots.errors %}is-danger{% endif %}" />
    </div>
    {% if slots.errors %}
      <p class="help is-danger">{% slot errors %}{% endslot %}</p>
    {% endif %}
    {% if slots.help_text %}
      <p class="help">{% slot help_text %}{% endslot %}</p>
    {% endif %}
  </div>
{% endif %}
